@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    /* background-color: #f7f7f8; */
}

body {
    background-color: #f7f7f8;
}

.submitButton {
    width: 100px;
    height: 40px;
    background-color: #0066ff;
    border: 0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
  
button:hover {
    filter: brightness(1.1);
}

.tabActive {
    filter: brightness(1.1);
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: #0066ff;
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}